{% extends '::base.html.twig' %}

{% block front %}
<!-- Content -->
								<section>
									<header>Les Accords</h1>
									</header>

									
									<hr class="major" />

									<h2>Les accords</h2>
									<p>Ressemblant au clavicorde ou au clavecin, le piano créé au début du xviiie siècle présente une mécanique totalement nouvelle1. Contrairement à l'orgue ou au clavecin, le son du piano est modulable comme pour le clavicorde qui peut jouer « piano » et « forte »2.

L'écrivain italien Scipione Maffei publie en 1711 la première description d'un gravecembalo col piano e forte qu'il a vu deux ans auparavant, incluant un schéma de son mécanisme ; cet article sera ensuite traduit et diffusé dans toute l'Europe. Les premiers exemplaires connus du pianoforte ont été fabriqués par Bartolomeo Cristofori à Florence entre 1720 et 1726. Ces trois pianos sont conservés au Metropolitan Museum of Art de New-York (1720), au Musée national des instruments de musique de Rome (1722) et au Musikinstrumenten-Museum de l’université de Leipzig (1726)3.

La date de fabrication du premier piano-forte par Cristofori est incertaine, mais un inventaire réalisé par ses employeurs, la famille Médicis, indique l'existence d'un instrument en 1698. Cristofori n'aura construit en tout qu'une vingtaine de piano-forte jusqu'à sa mort en 1731, améliorant sans cesse son invention, sans qu'elle devînt un succès commercial malgré la qualité des instruments qui ne fut pas d'emblée égalée par Silbermann, le premier et principal successeur de renom allemand qui en fabriqua, dès 1726, d'après les schémas publiés en 1709 d'où les trouvailles ultérieures de Cristofori étaient naturellement absentes.

Des documents décrivant des claviers utilisant des marteaux remontent aux xve et xvie siècles4 ; deux inventeurs proposent des croquis d'instruments similaires à celui de Cristofori, de manière indépendante mais sans jamais construire de prototype : le français Jean Marius envoie en 1716 des plans de clavecin à maillets à l'Académie royale des sciences, et l'Allemand Gottlieb Schröter réalise des croquis en 1717 (à l'âge de 18 ans) qui seront repris par la suite5.

Le défi consistait à adapter un clavier au cymbalum, ce qui revenait à actionner avec un clavier — et avec un bon degré de maîtrise — les marteaux du cymbalum tout en liant l'effet de ce dernier à l'étouffement du son. Cristofori n'est peut-être pas le premier à avoir relevé le défi mais il y a bien consacré quelque trente années de sa carrière avec un succès technique indéniable quoique non reconnu de son vivant.

Le lien du piano avec le clavecin (instrument à cordes « pincées » par un ou des plectres, et sans maîtrise manuelle de l'intensité) est partiel puisque, au début, il hérite de sa forme avec sa partie harmonique mais se différencie par son mécanisme. Ses amplitudes sonore et expressive alliées au développement du concerto l’amèneront postérieurement à le concurrencer.

Les premiers pianos ont particulièrement profité des siècles de travaux et de perfectionnements apportés au clavicorde, notamment par le raffinement des méthodes de construction des structures (en bois à cette époque), ainsi que celles de la conception de la table d'harmonie, du chevalet et du clavier, peu standard aussi bien en taille qu'en allure. Cristofori était lui-même un facteur de clavicordes et de clavecins, bien au fait des techniques de fabrication de tels instruments et des connaissances théoriques associées à celles-ci.</p>

								</section>

								 {% endblock %}